html {
    height:100%;
}

body {
    background: white url("images/background.gif");
    font-family: 'Oswald', sans-serif !important;
    height: 100%;
    margin-top: 20px;
}

.container {
    height: 75%;
    width: 100%;
    white-space: nowrap;
}

.navbar{
    width: 100%;
}

.col-auto {
    border-radius: 25px;
    display: block;
    padding: 10px;
    background-color: gray;
    color: white;
    font-size: 46px;
}


#playButton{
    height:100%;
}

#audioController{
    height: 5%;
    width: 100%;
}
