<!DOCTYPE html>
<html>
  <head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'RegistrationPage/templateCSS.css' %}">
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="shortcut icon" type="image/png" href="https://mystudentrecord.ucmerced.edu/favicon.ico"/>
	<title>Home</title>

  </head>
  <body>
	
	<div class="topnav">
		<a class="active" href="/CourseReg">Home</a>
		<a href="/CourseReg/RegPage">Course Registration</a>
		<a href="/CourseReg/GradPlan">Graduation Planner</a>
	</div>

	<div class = "container">
		<div class="row h-100">
			<div class="col-sm-12 align-self-center">
				<div id = "notificationBanner" class="col-auto mx-auto text-center">
					<span>Home Page</span>
				</div>
			</div>
		</div>
	</div>
  </body>
</html>