<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'RegistrationPage/Bobcatcourses.tk.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'RegistrationPage/templateCSS.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="https://mystudentrecord.ucmerced.edu/favicon.ico" />
    <title>RegPage</title>

</head>

<body>

    <div class="topnav">
        <a href="/CourseReg">Home</a>
        <a class="active" href="/CourseReg/RegPage">Course Registration</a>
        <a href="/CourseReg/GradPlan">Graduation Planner</a>
    </div>
    <div class="container">
        <!-- <div class="row h-100">
			<div class="col-sm-12 align-self-center">
				<div id = "notificationBanner" class="col-auto mx-auto text-center">
					<span>Registration Page</span>
				</div>
			</div>
		</div> -->

        <div class="flex-container">
            <div class="column-search" style="text-align: center; margin-top: 5px;">
                <div class="ui medium header">Spring 2021</div>
                <div>
                    <div role="combobox" aria-busy="false" aria-expanded="false" class="ui fluid search selection dropdown"><input aria-autocomplete="list" autocomplete="off" class="search" tabindex="0" type="text" value="">
                        <div class="default text" role="alert" aria-live="polite">Add more...</div><i aria-hidden="true" class="dropdown icon"></i>
                        <div aria-multiselectable="false" role="listbox" class="menu transition">
                            <div role="option" aria-checked="false" aria-selected="false" class="item" style="pointer-events: all;"><span class="text">CSE-15: Discrete Mathematics</span>
                            </div>
                            <div role="option" aria-checked="false" aria-selected="false" class="item" style="pointer-events: all;"><span class="text">CSE-100: Algorithm Design and
									Analysis</span></div>
                            <div role="option" aria-checked="false" aria-selected="false" class="item" style="pointer-events: all;"><span class="text">CSE-120: Software Engineering</span>
                            </div>
                            <div role="option" aria-checked="false" aria-selected="false" class="item" style="pointer-events: all;"><span class="text">CSE-140: Computer
									Architecture</span></div>
                            <div role="option" aria-checked="false" aria-selected="false" class="item" style="pointer-events: all;"><span class="text">CSE-160: Computer Networks</span>
                            </div>
                            <div role="option" aria-checked="false" aria-selected="false" class="item" style="pointer-events: all;"><span class="text">CSE-162: Mobile Computing</span>
                            </div>
                            <div role="option" aria-checked="false" aria-selected="false" class="item" style="pointer-events: all;"><span class="text">CSE-165: Intro to Object Orient
									Program</span></div>
                            <div role="option" aria-checked="false" aria-selected="true" class="selected item" style="pointer-events: all;"><span class="text">CSE-179: Intro Parallel
									Computing</span></div>
                            <div role="option" aria-checked="false" aria-selected="false" class="item" style="pointer-events: all;"><span class="text">CSE-185: Intro to Computer
									Vision</span></div>
                        </div>
                    </div>
                </div>
                <div class="course-list">
                    <div class="course-item">CSE-120 :
                        <div class="course-list-options"><button class="ui grey tiny button" role="button">Sections</button><button class="ui pink tiny icon button" role="button"><i aria-hidden="true"
									class="close icon"></i></button></div>
                    </div>
                    <div class="course-item">ECON-1 :
                        <div class="course-list-options"><button class="ui grey tiny button" role="button">Sections</button><button class="ui pink tiny icon button" role="button"><i aria-hidden="true"
									class="close icon"></i></button></div>
                    </div>
                    <div class="course-item">CSE-185 :
                        <div class="course-list-options"><button class="ui grey tiny button" role="button">Sections</button><button class="ui pink tiny icon button" role="button"><i aria-hidden="true"
									class="close icon"></i></button></div>
                    </div>
                </div><button class="ui olive fluid button" role="button" style="margin-top: 10px; text-align: center;">Register</button><button class="ui fluid icon left labeled button" role="button" style="margin-top: 10px; text-align: center;">Preferences<i aria-hidden="true"
						class="edit icon"></i></button>
                <div class="accordion ui" style="margin-top: 20px;">
                    <div class="title"><i aria-hidden="true" class="dropdown icon"></i>Custom Events...</div>
                    <div class="content"><button class="ui grey fluid icon left labeled button" role="button" style="margin-top: 10px; text-align: center;">Custom Event<i aria-hidden="true"
								class="plus icon"></i></button></div>
                </div>
            </div>
            <div class="column-calendar">
                <div class="schedule-button-controls" style="">
                    <div class="ui buttons"><button class="ui grey icon button" role="button"><i aria-hidden="true"
								class="arrow left icon"></i></button><button class="ui black disabled button" disabled="" role="button" tabindex="-1">
							<div style="color: white;">1 / 15</div>
						</button><button class="ui grey icon button" role="button"><i aria-hidden="true"
								class="arrow right icon"></i></button></div>
                </div>
                <div class="schedule-column">
                    <div class="schedule-inside-container">
                        <div class="days-div">
                            <div class="time-name-col"></div>
                            <div class="day-name-col">Mon</div>
                            <div class="day-name-col">Tue</div>
                            <div class="day-name-col">Wed</div>
                            <div class="day-name-col">Thu</div>
                            <div class="day-name-col">Fri</div>
                        </div>
                        <div class="schedule-container">
                            <div class="times-col">
                                <div class="time-col">12pm</div>
                                <div class="time-col">1pm</div>
                                <div class="time-col">2pm</div>
                                <div class="time-col">3pm</div>
                                <div class="time-col">4pm</div>
                                <div class="time-col">5pm</div>
                                <div class="time-col">6pm</div>
                                <div class="time-col">7pm</div>
                                <div class="time-col">8pm</div>
                                <div class="time-col">9pm</div>
                                <div class="time-col">10pm</div>
                                <div class="time-col">11pm</div>
                            </div>
                            <div class="days-col">
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="end"></div>
                                </div>
                                <div class="hour-slot" style="width: 100%; position: absolute; z-index: 1; top: 11.25px; height: 56.25px; display: block; border-radius: 5px; cursor: pointer; color: rgb(91, 91, 91); border-left: 3px solid rgb(254, 144, 1); background: rgba(254, 144, 1, 0.5);">
                                    <div class="title" style="font-size: 14px;">CSE-120-01</div>
                                </div>
                                <div class="hour-slot" style="width: 100%; position: absolute; z-index: 1; top: 213.75px; height: 127.35px; display: block; border-radius: 5px; cursor: pointer; color: rgb(91, 91, 91); border-left: 3px solid rgb(255, 229, 117); background: rgba(255, 229, 117, 0.5);">
                                    <div class="title" style="font-size: 14px;">CSE-185-02L</div>
                                </div>
                                <div class="hour-slot" style="width: 100%; position: absolute; z-index: 1; top: 146.25px; height: 56.25px; display: block; border-radius: 5px; cursor: pointer; color: rgb(91, 91, 91); border-left: 3px solid rgb(255, 229, 117); background: rgba(255, 229, 117, 0.5);">
                                    <div class="title" style="font-size: 14px;">CSE-185-01</div>
                                </div>
                            </div>
                            <div class="days-col">
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="end"></div>
                                </div>
                                <div class="hour-slot" style="width: 100%; position: absolute; z-index: 1; top: 258.75px; height: 82.35px; display: block; border-radius: 5px; cursor: pointer; color: rgb(91, 91, 91); border-left: 3px solid rgb(255, 117, 117); background: rgba(255, 117, 117, 0.5);">
                                    <div class="title" style="font-size: 14px;">ECON-001-01</div>
                                </div>
                                <div class="hour-slot" style="width: 100%; position: absolute; z-index: 1; top: 146.25px; height: 56.25px; display: block; border-radius: 5px; cursor: pointer; color: rgb(91, 91, 91); border-left: 3px solid rgb(255, 229, 117); background: rgba(255, 229, 117, 0.5);">
                                    <div class="title" style="font-size: 14px;">CSE-185-01</div>
                                </div>
                            </div>
                            <div class="days-col">
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="end"></div>
                                </div>
                                <div class="hour-slot" style="width: 100%; position: absolute; z-index: 1; top: 11.25px; height: 56.25px; display: block; border-radius: 5px; cursor: pointer; color: rgb(91, 91, 91); border-left: 3px solid rgb(254, 144, 1); background: rgba(254, 144, 1, 0.5);">
                                    <div class="title" style="font-size: 14px;">CSE-120-01</div>
                                </div>
                            </div>
                            <div class="days-col">
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="end"></div>
                                </div>
                                <div class="hour-slot" style="width: 100%; position: absolute; z-index: 1; top: 348.75px; height: 127.35px; display: block; border-radius: 5px; cursor: pointer; color: rgb(91, 91, 91); border-left: 3px solid rgb(254, 144, 1); background: rgba(254, 144, 1, 0.5);">
                                    <div class="title" style="font-size: 14px;">CSE-120-03L</div>
                                </div>
                                <div class="hour-slot" style="width: 100%; position: absolute; z-index: 1; top: 258.75px; height: 82.35px; display: block; border-radius: 5px; cursor: pointer; color: rgb(91, 91, 91); border-left: 3px solid rgb(255, 117, 117); background: rgba(255, 117, 117, 0.5);">
                                    <div class="title" style="font-size: 14px;">ECON-001-01</div>
                                </div>
                            </div>
                            <div class="days-col">
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="end"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>