<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'RegistrationPage/Bobcatcourses.tk.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'RegistrationPage/templateCSS.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@8.0.2/dist/js/autoComplete.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static 'RegistrationPage/regPage.js' %}"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@8.0.2/dist/css/autoComplete.min.css"> -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="https://mystudentrecord.ucmerced.edu/favicon.ico" />
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>RegPage</title>

</head>

<body>

    <div class="topnav">
        <a href="/CourseReg">Home</a>
        <a class="active" href="/CourseReg/RegPage">Course Registration</a>
        <a href="/CourseReg/GradPlan">Graduation Planner</a>
    </div>
    <div class="container">
        <div class="flex-container">
            <div class="column-search" style="text-align: center; margin-top: 5px;">
                <div class="ui medium header">Spring 2021</div>
                <div>
                    <input id="autoComplete" class = "autocomplete" tabindex = "1" style="width: 100%;">
                    <!-- <div role="combobox" aria-busy="false" aria-expanded="false" class="ui fluid search selection dropdown">
                        
                        
                        
                    </div> -->
                </div>

                <div id="selclasses" class="course-list">
                    
                </div>
                    <button id="gen" class="ui olive fluid button" role="button" style="margin-top: 10px; text-align: center;">
                        Generate
                    </button>
                    <button id = "pref" class="ui fluid icon left labeled button" role="button" style="margin-top: 10px; text-align: center;">
                        Preferences
                        <i aria-hidden="true" class="edit icon"></i>
                    </button>
                <div class="accordion ui" style="margin-top: 20px;">
                    <div class="content">
                        <button id="submit" class="ui grey fluid icon left labeled button" role="button" style="margin-top: 10px; text-align: center;">
                            Register
                            <i aria-hidden="true"class="plus icon"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div id="myModal" class="modelo">

                <!-- Modal content -->
                <div class="modelo-content">
                    <span class="close">&times;</span>
                    <h3 style="padding-left: 10px; padding-top: 10px;">Preferences</h3>
                  
                  <div class="flexbox" display = "flex">
                      
                    
                    <label for="thing">Thing1</label>
                    <input id = "thing1" class = 'chb' type="checkbox">
                  
                    <label for="thing">Thing2</label>
                    <input id = "thing2" class = 'chb' type="checkbox">
                   
                  </div>
                  <div class="flexbox" display = "flex">
                      
                    
                    <label for="thing">Thing1</label>
                    <input id = "thing1" class="bhc" type="checkbox">
                  
                    <label for="thing">Thing2</label>
                    <input id = "thing2" class="bhc" type="checkbox">
                   
                  </div>
                  <div class="flexbox" display = "flex">
                    <label for="fc">Include Closed Sections</label>
                    <input id = "fc" type="checkbox">
                  </div>

                  <div class="flexbox" display = "flex">
                    <label for="thing">Time Filters:</label>
                    <select id = "early" name="select" placeholder="earliest">
                        <option value="" selected disabled hidden>earliest?</option>
                        <option value="7:30">7:30am</option>
                        <option value="8:00">8:00am</option>
                        <option value="8:30">8:30am</option>
                        <option value="9:00">9:00am</option>
                        <option value="9:30">9:30am</option>
                        <option value="10:00">10:00am</option>
                        <option value="10:30">10:30am</option>
                        <option value="11:00">11:00am</option>
                        <option value="11:30">11:30am</option>
                        <option value="12:00">12:00am</option>
                    </select>
                    <select id = "late" name="select">
                        <option value="" selected disabled hidden>latest?</option>
                        <option value="3:00">3:00pm</option>
                        <option value="3:30">3:30pm</option>
                        <option value="4:00">4:00pm</option>
                        <option value="4:30">4:30pm</option>
                        <option value="5:00">5:00pm</option>
                        <option value="5:30">5:30pm</option>
                        <option value="6:00">6:00pm</option>
                        <option value="6:30">6:30pm</option>
                        <option value="7:00">7:00pm</option>
                        <option value="7:30">7:30pm</option>
                        <option value="8:00">8:00pm</option>
                        <option value="8:30">8:30pm</option>
                        <option value="9:00">9:00pm</option>
                        <option value="9:30">9:30pm</option>
                        <option value="10:00">10:00pm</option>
                    </select>
                  </div>
                  

                </div> 
            </div>
            <div class="column-calendar">
                <div class="schedule-button-controls" style="">
                    <div class="ui buttons">
                        <button class="ui grey icon button" role="button">
                            <i aria-hidden="true" class="fa fa-arrow-left"></i>
                        </button>
                        <button class="ui black disabled button" disabled="" role="button" tabindex="-1">
                                <div style="color: white;">1 / 15</div>
                        </button>
                        <button class="ui grey icon button" role="button">
                            <i aria-hidden="true" class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
                <div class="schedule-column">
                    <div class="schedule-inside-container">
                        <div class="days-div">
                            <div class="time-name-col"></div>
                            <div class="day-name-col">Mon</div>
                            <div class="day-name-col">Tue</div>
                            <div class="day-name-col">Wed</div>
                            <div class="day-name-col">Thu</div>
                            <div class="day-name-col">Fri</div>
                        </div>
                        <div class="schedule-container">
                            <div class="times-col">
                                <div class="time-col">12pm</div>
                                <div class="time-col">1pm</div>
                                <div class="time-col">2pm</div>
                                <div class="time-col">3pm</div>
                                <div class="time-col">4pm</div>
                                <div class="time-col">5pm</div>
                                <div class="time-col">6pm</div>
                                <div class="time-col">7pm</div>
                                <div class="time-col">8pm</div>
                                <div class="time-col">9pm</div>
                                <div class="time-col">10pm</div>
                                <div class="time-col">11pm</div>
                            </div>
                            <div class="days-col">
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="end"></div>
                                </div>
                                <div class="hour-slot" style="width: 100%; position: absolute; z-index: 1; top: 11.25px; height: 56.25px; display: block; border-radius: 5px; cursor: pointer; color: rgb(91, 91, 91); border-left: 3px solid rgb(254, 144, 1); background: rgba(254, 144, 1, 0.5);">
                                    <div class="title" style="font-size: 14px;">CSE-120-01</div>
                                </div>
                                <div class="hour-slot" style="width: 100%; position: absolute; z-index: 1; top: 213.75px; height: 127.35px; display: block; border-radius: 5px; cursor: pointer; color: rgb(91, 91, 91); border-left: 3px solid rgb(255, 229, 117); background: rgba(255, 229, 117, 0.5);">
                                    <div class="title" style="font-size: 14px;">CSE-185-02L</div>
                                </div>
                                <div class="hour-slot" style="width: 100%; position: absolute; z-index: 1; top: 146.25px; height: 56.25px; display: block; border-radius: 5px; cursor: pointer; color: rgb(91, 91, 91); border-left: 3px solid rgb(255, 229, 117); background: rgba(255, 229, 117, 0.5);">
                                    <div class="title" style="font-size: 14px;">CSE-185-01</div>
                                </div>
                            </div>
                            <div class="days-col">
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="end"></div>
                                </div>
                                <div class="hour-slot" style="width: 100%; position: absolute; z-index: 1; top: 258.75px; height: 82.35px; display: block; border-radius: 5px; cursor: pointer; color: rgb(91, 91, 91); border-left: 3px solid rgb(255, 117, 117); background: rgba(255, 117, 117, 0.5);">
                                    <div class="title" style="font-size: 14px;">ECON-001-01</div>
                                </div>
                                <div class="hour-slot" style="width: 100%; position: absolute; z-index: 1; top: 146.25px; height: 56.25px; display: block; border-radius: 5px; cursor: pointer; color: rgb(91, 91, 91); border-left: 3px solid rgb(255, 229, 117); background: rgba(255, 229, 117, 0.5);">
                                    <div class="title" style="font-size: 14px;">CSE-185-01</div>
                                </div>
                            </div>
                            <div class="days-col">
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="end"></div>
                                </div>
                                <div class="hour-slot" style="width: 100%; position: absolute; z-index: 1; top: 11.25px; height: 56.25px; display: block; border-radius: 5px; cursor: pointer; color: rgb(91, 91, 91); border-left: 3px solid rgb(254, 144, 1); background: rgba(254, 144, 1, 0.5);">
                                    <div class="title" style="font-size: 14px;">CSE-120-01</div>
                                </div>
                            </div>
                            <div class="days-col">
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="end"></div>
                                </div>
                                <div class="hour-slot" style="width: 100%; position: absolute; z-index: 1; top: 348.75px; height: 127.35px; display: block; border-radius: 5px; cursor: pointer; color: rgb(91, 91, 91); border-left: 3px solid rgb(254, 144, 1); background: rgba(254, 144, 1, 0.5);">
                                    <div class="title" style="font-size: 14px;">CSE-120-03L</div>
                                </div>
                                <div class="hour-slot" style="width: 100%; position: absolute; z-index: 1; top: 258.75px; height: 82.35px; display: block; border-radius: 5px; cursor: pointer; color: rgb(91, 91, 91); border-left: 3px solid rgb(255, 117, 117); background: rgba(255, 117, 117, 0.5);">
                                    <div class="title" style="font-size: 14px;">ECON-001-01</div>
                                </div>
                            </div>
                            <div class="days-col">
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="day-inside"></div>
                                </div>
                                <div class="day-col">
                                    <div class="end"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>